<app-header></app-header>
 <div class="content1">
    <h2>{{Id?"Add Booking":"Update Booking"}}</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
<div class="content">
    <label for="bstart"> Start Date</label>
    <input type="date" formControlName="bstartdate">
</div>
<div class="content">
    <label for="bstart"> End Date</label>
    <input type="date" formControlName="benddate">
</div>
<div class="content">
    <label for="bstart"> BookingDate</label>
    <input type="date" formControlName="bookingdate">
</div>
<button  type="submit" [disabled]="form.invalid">{{Id?"Add":"Update"}} Booking</button>
    </form>
 </div>
