<!-- <p>add-hotels works!</p> -->
 <app-header></app-header>
 <h2>{{hotelId? 'Update Hotel':'Add Hotel'}}</h2>
 <form (ngSubmit)="onSubmit()" [formGroup]="form">
<div>
    <label for="name">Hotel Name</label>
    <input type="text" formControlName="Hotelname">
</div>
<div>
    <label for="name">Hotel Image</label>
    <input type="text" formControlName="Hotelimage">
</div>
<div>
    <label for="name">Location</label>
    <input type="text" formControlName="Hlocation">
</div>
<button  type="submit" [disabled]="form.invalid">{{hotelId? 'Update':'Add'}} Hotel</button>
 </form>
