<!-- <p>add-hotels works!</p> -->
 <h2>{{ID? 'Update Hotel':'Add Hotel'}}</h2>
 <form (ngSubmit)="onSubmit()" [formGroup]="form">
<div>
    <label for="name">Hotel Name</label>
    <input type="text" formControlName="name">
</div>
<div>
    <label for="name">Hotel Image</label>
    <input type="text" formControlName="image">
</div>
<div>
    <label for="name">Location</label>
    <input type="text" formControlName="location">
</div>
<button  type="submit" [disabled]="form.invalid">{{ID? 'Add':'Update'}}Hotel</button>
 </form>
