<!-- <p>home works!</p> -->
<div>
 <app-header ></app-header>
</div>

 <div class="content">
    <h1>Welcome to Kikwetu Tours</h1>
    
         <p>
            Planning a trip can be overwhelming. Between researching
            destinations,<br />
            booking flights and accommodation, and figuring out logistics,<br />
            it's easy to feel lost in the planning process. <br />
            <strong>KIKWETU</strong> takes the stress out of travel. <br />We
            offer expertly crafted tours that handle all the details,
            <br />leaving you free to focus on what matters most – creating
            lasting memories. <br />
            Our tours provide you with:
          </p>


          <button class="started">Get Started</button>
          <h2><i>OUR TOP PICKS</i></h2>
    
 </div>
 <app-display-tours ></app-display-tours>
