.container{
    display: flex;
    justify-content: space-evenly;
    background-color: #1e81b0;
    width: 100vw;
    align-items: center;
    height: 150px;
}

.container a{
    color: white;
    text-decoration: none;
}