
<div class="main">
    
       <h1><a routerLink="/"><i>KIKWETU TOURS</i></a></h1>
<div class="content" *ngIf="tours; else noTours">
 
  <div class="items" *ngFor="let tour of tours">
    <p>Tour:{{ tour.Tourname }}</p>
    <p><img src="{{ tour.Tourimage }}" /></p>
    <p>Description:{{ tour.TDescription | shorten:10}}</p>
    <p>Destination:{{ tour.TDestination |shorten:10}}</p>
    <p>Price:{{ tour.TPrice | currency:"KSH "}}</p>
    <button class="book" (click)="book(tour.Id)">BOOK NOW</button>
    <div class="btn">
    <button class="edit" *ngIf="role === 'ADMIN'" (click)="editTour(tour.Id)">Edit</button>
      <button class="delete" *ngIf="role === 'ADMIN'" (click)="deleteTour(tour.Id)">Delete</button>
    </div>
    
  </div>
</div>
<ng-template #noTours>
  <i> List empty Kindly Add a Tour!!!</i>
</ng-template>
</div>

