<p>add-tours works!</p>
<div class="main">
  <div class="content">
    <label for="Name">Tour Name</label>
    <input type="text" [(ngModel)]="name" />
    <label for="image">Tour Image</label>
    <input type="text" [(ngModel)]="image" />
    <label for="description">Tour Description</label>
    <input type="text" [(ngModel)]="description" />
    <label for="desination">Tour Destination</label>
    <input type="text" [(ngModel)]="destination" />
    <label for="price">Tour Price</label>
    <input type="number" [(ngModel)]="price" />
    <button (click)="addTour()">Add</button>
  </div>
</div>
