<!-- <p>add-tours works!</p> -->
<div class="main">
  <form class="content" [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="Name">Tour Name</label>
    <input type="text" formControlName="NAME" />
    <label for="image">Tour Image</label>
    <input type="text" formControlName="IMAGE" />
    <label for="description">Tour Description</label>
    <input type="text" formControlName="DESCRIPTION" />
    <label for="desination">Tour Destination</label>
    <input type="text" formControlName="DESTINATION" />
    <label for="price">Tour Price</label>
    <input type="number" formControlName="PRICE" />
    <button>Add</button>
  </form>
</div>
